<h2 class="postagem__titulo">Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add"><button type="button" class="btn">Nova postagem</button></a> 

{{#each postagens}}
  <div class="container postagem__container">
    <div class="card-body">
      <h4 class="postagem__titulo2">{{titulo}}</h4>
      <p class="descricao">Descrição: {{descricao}}</p>
      <small>Data: {{data}}</small>
      <small>Categoria: {{categoria.nome}}</small><br>
      <a  href="/admin/postagens/edit/{{_id}}"><button class="a__btn">Editar postagem</button></a>
      <a href="/admin/postagens/deletar/{{_id}}"><button class="a2__btn">Deletar postagem</button></a>
    </div>
  </div>
{{else}}
  <p>Nenhuma postagem registrada</p>
{{/each}}