
<section id="index">
  <div class="container">
  <h1 class="display">
    <div class="text">
      <b >Bem-vindo, Gamers</b></h1>
      <p  >Conteúdo sobre jogos atuais</p>
      <p>Aqui você vai poder ler sobre novidades dos melhores jogos da atualidade.</p>
      <hr >
    </div>

  <hr>
  <h2>Postagens recentes</h2>

  {{#each postagens}}
  <div class="container text__container">
    <h3 class="text">{{titulo}}</h3><br>
    <p style="text: justify;">{{descricao}}</p>
    <small><b>Categoria:</b> {{categoria.nome}}</small>
    <small>Data de publicação: {{data}}</small>
    <hr>
    <a href="/postagem/{{slug}}"><button >Leia mais</button></a> 
  </div>


  {{else}}
  <h5>Nenhuma postagem</h5>
  {{/each}}
</div>
</section>